// *{
//     box-sizing: border-box;
// }

a {
    text-decoration: none; // убирает подчеркивания у ссылок
    display: inline-block; // строчно-блончый элемент
}

ul,
li {
    list-style: none; // убирает маркеры
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px; // max ширина
    margin: 0 142px; // центрировать 0 - значение сверху и сниху auto - значение слева и справа
    padding: 15px; // чтобы не прилипал к стенкам планшетов и смартфонов
    // background-color: green;
    

}


body {
    font-family: 'Manrope';
    background-color: $back;
    color: $text;
    font-size: 14px;
    line-height: 19px;
   
}


.city,
.address,
.work_time,
.messengers,
.search {
    display: inline-block; //block - стандартное значение, inline -в строчку, inline-block -блочные элементы в строчку;
    padding: 15px 4px 16px 4px; // сверху справа снизу слева 
    // background-position: center;
    background-color: orange;
}

.header__top__one {
    border-bottom: 1px solid #C7CCD2;
}

// .city, 
// .address, 
// .work_time, 
// .messengers, 
// .search {
//     display: flex;
//     justify-content: space-between;    
// }

.icon-img, .city-ch {
    display: inline;  
}
.address {
    // margin-left: 142px;
}

.search {
    margin-right: 216px;
}

// .t, .w, .v {

// }

.logo,
.company-name,
.tel,
.mail,
.order-call {
    display: inline-block;
    padding: 15px 4px 16px 50px;
    background-color: yellowgreen;
}

.header__phone {
    display: flex;
    flex-direction: column;
}

.logo_words {
    vertical-align: top;
}

.header__order-call {
    border: 1px solid #182A44;
    border-radius: 5px;
}

.header__phone,
.header__email {
    letter-spacing: 0.25px;
}

.header__content-inner {
    background: $back_two;
    color: #FFFFFF;
}

.menu li {
    display: inline;
}

.menu a {
    color: #FFFFFF;
    padding: 19px 18px;
    font-size: 14px;
}

.menu__btn {
    display: inline-block;
    background-color: yellow;
}

.slider {
    background-image: url('./img/image10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    // background: #8E9296;
}

.slider-img {
    min-height: 550px;
    weight: 1400px;
}

.logo-img {
    height: 81.96px;
    weight: 500px;
}

.slider__item {
    text-align: left;
    color: #FFFFFF;
    padding-top: 110px;
    max-width: 561px;
    margin: 0;
}

.slider__title {
    // text-transform: uppercase; // верхний регистр

    font-size: 60px;
    line-height: 81.96px;
    font-weight: 500px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;

}

.slider__text {
    line-height: 25px;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 24px;

}

.slider__btn {}

.button {

    display: inline;
    padding: 4px 9px 4px 10px;
    text-align: center;

    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

.slider__menu {

    text-align: center;
    background: #2E81C7;
    border-radius: 5px;
}

.slider__choice,
.arrow {
    display: inline;
    font-size: 16px;
}