// *, 
// ::before,
// ::after {
// box-sizing: border-box;
// }


html {
    box-sizing: border-box;
}

a {
    text-decoration: none; // убирает подчеркивания у ссылок
    display: inline-block; // строчно-блончый элемент
}

ul,
li {
    list-style: none; // убирает маркеры
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;// max ширина

    margin: 0 auto; // центрировать 0 - значение сверху и сниху auto - значение слева и справа;
    padding: 0 142px; // отступ сверху-снизу, справа-слева;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: $back;
    color: $text;
    font-size: 14px;
}

.header__top__one {
    line-height: 50px;
    border-bottom: 1px solid #C7CCD2;
}

.header__top__one:after {
    // хз
    content: '';
    clear: both;
    display: block;
}

.header__city,
.header__address,
.header__work_time,
.header__messengers,
.header__search {
    display: inline-block; //block - стандартное значение, inline -в строчку, inline-block -блочные элементы в строчку;
    // padding: 15px 4px 16px 4px; // сверху справа снизу слева 
    // background-color: orange;

}

.icon-img {}

.icon-img,
.city-ch,
.data-ch {
    display: inline;

}

.city-img,
.address-img,
.time-img,
.search-img {
    position: relative;
    top: 3px;
}

.arrow-img {
    position: relative;
    top: -1px;
}

.messanger-img {
    position: relative;
    top: 10px;
}

.city-img {
    // position: relative;
    padding-right: 8px;
    // top: 0;
}

.city-ch {
    padding-right: 7.5px;
    color: #0C0C0C;
}

.arrow-img {
    margin-right: 100.47px;
}



.address-img {
    padding-right: 8.97px;
}

.address-ch {
    margin-right: 30.67px;
}

.time-img {
    padding-right: 8.67px;
}

.work-time-ch {
    margin-right: 53px;
}

.search-ch {
    padding: 0 26px 0 24px;
    color: #67696C;
}

.t,
.w {
    // padding-right: 10px;
}

.t {
    position: relative;
    top: 1px;
    background-image: url('./img/Teleg.svg');
    padding: 10px 20px 4.3px 10px;
    margin-right: 10px;
}

.t:hover {
    // position: relative;
    // top: 1px;
    background-image: url('./img/Teleg-c.svg');
    transition: all .3s;
}

.w {
    background-image: url('./img/Whatsapp.svg');
    position: relative;
    top: 1px;
    padding: 10px 20px 4.3px 10px;
    margin-right: 10px;
}

.w:hover {
    background-image: url('./img/Whatsapp-c.svg');
    transition: all .3s;
}

.v {
    background-image: url('./img/Viber.svg');
    position: relative;
    top: 1px;
    padding: 10px 20px 4.3px 10px;
    margin-right: 10px;
}

.v:hover {
    background-image: url('./img/Viber-c.svg');
    transition: all .3s;
}

.header__messengers,
.header__search {
    padding-right: 24px;
    border-right: 1px solid #C7CCD2;


}

.header__top__two {
    height: 92px;
}

.header__logo,
.header__phone,
.header__mail,
.header__order-call,
.header__order-call-two {
    display: inline-block;
    // padding: 15px 4px 16px 4px;
}


.logo-img {
    transform: scale(0.50);


}

.logo-logo {
    position: relative;
    left: -108px;
    top: 0;
    margin-right: -129.73px;
    bottom: 0;
}

.tel-img,
.tel-number {
    display: inline-block;
    padding-top: 10px;
}

.tel-number,
.mail,
.ask-question,
.order-call {
    color: #0C0C0C;
}

.first__number {
    position: relative;
    top: -20px;
}

.tel-img {
    position: relative;
    top: 2px;
}


.tel-number {}


.order-call {
    position: relative;
    top: -40px;
    // line-height: 36px;
    padding: 9px 31px 11px 32px; //сверху справа снизу слева
    border: 1px solid #182A44;
    border-radius: 5px;
}

.header__phone {
    margin-right: 76px;
}

.header__phone,
.header__email {
    letter-spacing: 0.25px;
}

.header__mail {
    position: relative;
    top: -48px;
    margin-right: 142px;

}

.ask-question {
    position: relative;
    top: -28px;
    margin-right: 26px;
}

.header__content-inner {
    height: 56px;
    background: $back_two;
    color: #FFFFFF;
}


.menu li {
    display: inline;

}

.menu a {
    color: #FFFFFF;

}

.menu__main,
.menu__servises,
.menu__about,
.menu__production,
.menu__delivering,
.contacts__btn,
.market-ch {
    margin: 8px 35px 8px 0;
    // 

}

.frame {
    background-color: #314C73;
    padding: 10px 16px 11px 16px;
    border-radius: 50px;
    margin: 8px 8px;
}

.coub-img,
.btn-ch {
    display: inline-block;
}

.coub-btn {
    margin-right: 53px;
}

.coub-img {
    margin-right: 8px;
    position: relative;
    top: 2px;

}

.contacts__btn {
    // margin-right: 214.62px;
    margin-right: 185px;
}

.border-market {
    position: relative;
    border-right: 1px solid #C7CCD2;
    border-left: 1px solid #C7CCD2;
    height: 56px;
    top: -12px;
}

.market-img {
    position: relative;
    top: 17px;
    padding: 0 27.9px 0 24.62px;

}

.logo-img {
    height: 81.96px;
    weight: 500px;
}

//Слайдер 

/* Контейнер слайд-шоу  накладывает текст на изображение слайда*/
.slider-image {
    position: relative;
	width: 100%; 
}
.slider-container {
	position	: absolute;
	top		: 200px;
	// left		: 0;
	// width		: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 142px;
    // color: #FFFFFF;

}
// От сих переработать

/* Контейнер слайд-шоу */

/* Изображение слайда*/
.slider-img {
    width: 100%;
    filter: brightness(30%)
}

/* Скрыть изображения по умолчанию */
.mySlides {
    display: none;
}

/* Вперед иназад кнопки */
//Тоже изменить!!!
// .prev,
// .next {
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
//     width: auto;
//     margin-top: -22px;
//     padding: 16px;
//     color: white;
//     font-weight: bold;
//     font-size: 18px;
//     transition: 0.6s ease;
//     border-radius: 0 3px 3px 0;
//     user-select: none;

// }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с немного прозрачным */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Подпись текст */
.text {
    color: #FFFFFF;

    // position: absolute;
    // bottom: 8px;
    width: 100%;
    //   text-align: center;
}

/* Номер текста (1/3 и т.д.) */
.numbertext {
    // padding: 8px 12px;
    position: relative; 
     
    top: 50;
    background-color: red;
}

/* Линия выбора*/
.line {
    cursor: pointer;
    height: 3px;
    width: 325px;
    margin: 0;
    padding: 0;
    background-color: #C7CCD2;
    display: inline-block;
    transition: background-color 0.6s ease;
    // margin-top: 10px;
}
.active,
.line:hover {
    background-color: #52ADFA;
}

// До сих нужно переработать

.slider-controls {
    position: relative;
    text-align: right;

}
.arrow-btn {
    display: inline-block;
    
    background-color: #FFFFFF;
}


.slider__title {
    // text-transform: uppercase; // верхний регистр

    font-size: 60px;
    line-height: 81.96px;
    font-weight: 500px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;

}

.slider__text {
    line-height: 25px;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 24px;

}


.slide {
    float: left;
    position: relative;
    width: 1024px;
    height: 683px;
}

.slider-nav {
    height: 40px;
    width: 100%;
    margin-top: 1.5em;
}

.slider-nav button {
    border: none;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-indent: -9999em;
    background-color: transparent;
    background-repeat: no-repeat;
    color: red;
}


button.slider-previous {
    width: 15px;
    height: 15px;
    background-color: red;
    float: right;
    background-image: url("./img/Arrow-left.svg");
}

button.slider-next {
    width: 15px;
    height: 15px;
    background-color: red;
    float: right;
    background-image: url("./img/Arrow-right.svg");
}


.slider-button {
    cursor: pointer;
    color: #FFFFFF;
    padding: 4px 9px 4px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

.button_y,
.button_u {
    margin-right: 15px;
}

.slider__button__menu {
    color: #FFFFFF;
    text-align: center;
    background: #2E81C7;
    border-radius: 5px;
    padding: 9px 31px 11px 31px;
    margin-top: 35px;
}

.slider__btn,
.arrow__btn {
    font-size: 16px;
    // color: #FFFFFF;
    color: red;

}


.choice__btn {
    margin-top: 89px;
}

.choice__btn,
.arrow {
    // display: inline;
}

.slider__btn1 {
    margin-right: 181px;
}

.slider__btn2 {
    margin-right: 72px;
}

.slider__btn3 {
    margin-right: 145px;
}



.header__item {

    display: inline-block;
    max-width: 263px;
    padding: 30px;
    border-right: 1px solid #C7CCD2;
    font-family: 'Manrope', sans-serif;
}

.header__item__one {
    padding-left: 0;
}

.main__top__items {
    border-bottom: 1px solid #C7CCD2;
}

.num__p {
    color: #2E81C7;
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

.lorem {
    // width: 210px;
    // height: 132px;
    font-size: 16px;
}

.main__arrow {
    display: flex;
    float: right;
}

.fon_one {
    display: grid;
    margin-left: 1px;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.arrow_left {
    grid-area: 1 / 1 / 2 / 2;
    background-color: black;
}

.arrow_right {
    background-color: #0C0C0C;
}
