
.menu li {
    display: inline;
}

.menu a {
    color: #FFFFFF;
}

.menu__main,
.menu__servises,
.menu__about,
.menu__production,
.menu__delivering,
.contacts__btn {
    // margin: 8px 35px 8px 0;
    margin: 8px 0;
    padding: 10px 16px 11px 16px;
    border-radius: 50px;
}

.menu__main:hover,
.menu__servises:hover,
.menu__about:hover,
.menu__production:hover,
.menu__delivering:hover,
.contacts__btn:hover {
    background-color: #314C73;
}

.coub-img,
.btn-ch {
    // display: inline-block;
}

.coub-img {
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.market-ch {
float: right;
}
.border-market {
    border-right: 1px solid #C7CCD2;
    border-left: 1px solid #C7CCD2;
    height: 56px;
}

.market-img {
    padding: 0 27.9px 0 24.62px;
    margin: 18px 0;

}

/* Кнопка выпадающего списка */
.dropbtn {
    padding: 10px 16px 11px 16px;
    border-radius: 50px;
    // margin: 8px 8px;
    // color: white;
    // padding: 16px;
    // font-size: 16px;

}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown_two {
    position: relative;
    display: inline-block;
    background-color: #182A44;
    text-align: left;
    border: none;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #182A44;
    // padding: 10px 16px 11px 16px;
    
    border-radius: 6px;
    min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    padding: 10px 16px 11px 16px;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #314C73;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown_two:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown_two:hover .dropbtn {
    background-color: #314C73;
}

.contacts__btn {
    // margin-right: 214.62px;
    // margin-right: 185px;
}
